# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
db.sqlite3
*.log
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# Lock files
*.lock
